---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: rp-{{ uc_id }}
  name: rp-{{ uc_id }}-svc
  namespace: {{ zoneNamespace }}
spec:
  ports:
    - port: 8001
      protocol: TCP
      name: tcp-8001
      targetPort: 8001
  selector:
    app: rp-{{ uc_id }}
  type: ClusterIP
